@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  transition: all 0.58s ease-in;
}

:root {
  --title-color: orangered;
  --content-color: black;
  --BGcolor: #99bdba;
  --hover-color: #3c4d5c;
  --header-background: #333333;
  --white-color: white;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  z-index: 1;
  background: var(--header-background);
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  position: fixed;
}

.my-head {
  color: var(--title-color);
  margin: 10px auto 0;
  font-family: "Fredoka One", sans-serif;
  font-weight: 200;
  font-size: 2.5em;
  padding: 0.4em;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.my-head::after {
  content: "";
  display: block;
  position: relative;
  top: 0.4em;
  height: 0.2rem;
  background: var(--white-color);
}

body {
  background-color: var(--BGcolor);
  overflow-x: hidden;
}

#my-section {
  width: 100%;
  margin-left: 1em;
  margin-top: 150;
}

::marker {
  color: var(--title-color);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding-left: 2rem;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  width: max-content;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.content li {
  color: var(--content-color);
}

li:first-child {
  animation: 1.2s ease-out 0s 1 slideInFromLeft;
}

li:nth-child(2) {
  animation: 1.3s ease-out 0s 1 slideInFromLeft;
}
li:nth-child(3) {
  animation: 1.4s ease-out 0s 1 slideInFromLeft;
}
li:nth-child(4) {
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

/* Text area */

#my-text {
  margin-top: 5rem;
  margin-left: 4rem;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
.my-input {
  width: 80%;
  height: 20em;
  max-height: 750px;
  overflow: scroll;
  margin-top: 12px;
  margin-right: 20px;
  white-space: nowrap; /*Maybe needed Later*/
  font-family: "Source Code Pro", sans-serif;
  font-size: large;
  resize: none;
  border: 1px solid black;
  border-radius: 5px;
}
.my-input:active {
  width: 80%;
  height: 20em;
  max-height: 750px;
  overflow: scroll;
  margin-top: 12px;
  margin-right: 20px;
  white-space: nowrap; /*Maybe needed Later*/
  font-family: "Source Code Pro", sans-serif;
  font-size: large;
  resize: none;
  border: 2px solid black;
  border-radius: 5px;
}

/*Indent-space*/

.my-select {
  background-color: var(--white-color);
  color: var(--title-color);
  padding: 0.5em;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  transition: all 0.25s ease-in-out;
}
.my-select:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.opt {
  background-color: var(--white-color);
  color: var(--hover-color);
}

/*Buttons*/

.buttons {
  padding: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  gap: 4rem;
}

button {
  background: transparent;
  cursor: pointer;
  border: transparent;
}

.buttons img:hover {
  transform: scale(1.3);
  transition: all 0.25s ease;
}

#convert-img {
  width: 2.5rem;
  height: 3rem;
}

#copy-img {
  width: 2.5rem;
  height: 2.5rem;
}

#reset-img {
  width: 2.5rem;
  height: 2.5rem;
}

#convert::after,
#copy::after,
#reset::after {
  color: var(--title-color);
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 0.2rem;
  display: block;
  font-weight: bold;
}
#convert::after {
  content: "Convert";
  top: 0.2rem;
}

#copy::after {
  content: "Copy";
  top: 0.4rem;
}

#reset::after {
  content: "Reset";
  top: 0.4rem;
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(134, 128, 128);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: steelblue;
}

/* Animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*media-queries*/

@media screen and (max-width: 480px) {
  .header {
    height: 5rem;
  }

  .my-head {
    font-size: 2em;
  }

  .content {
    margin-top: 80;
  }

  #my-text {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .content {
    font-family: "Poppins", sans-serif;
    font-size: 80%;
    padding-left: 0.4rem;
  }
}
