@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");

* {
  padding: 0.1%;
  margin: 0.1%;
}

header {
  top: 0;
  left: 0;
  width: 42%;
  height: 97px;
  z-index: 1;
  border-radius: 5px;
  justify-content: center;
  background: #eeeeee;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);

  margin: 0em 0em 0em 22em;
}

.my-head {
  color: rgba(110, 9, 31, 0.986);
  font-family: "Fredoka One", sans-serif;
  font-weight: 200;
  font-size: 50px;
  border-left: 8px solid rgb(116, 22, 22);
  padding: 15px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgba(92, 13, 167, 0.349); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.01em; /* Adjust as needed */
  animation: typing 3.5s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(87, 13, 172, 0.397);
  }
}

#my-line {
  color: rgb(116, 22, 22);
  margin: 0px 5px 0px 5px;
}
.my-bg {
  background-image: linear-gradient(
    to right,
    rgb(33, 4, 136),
    rgba(21, 40, 148, 0),
    rgb(33, 4, 136)
  );
  background-attachment: fixed;
}
#my-section {
  margin-left: 16em;
  margin-top: 4em;
  /* position: absolute; */
}
.content {
  font-family: "Mukta", sans-serif;
  font-size: 25px;
  width: max-content;
}
#my-text {
  margin-top: 80px;
  /* position: absolute; */
  margin-left: 170px;
}
.my-input {
  width: 835px;
  height: 350px;
  max-height: 350px;
  overflow: scroll;
  margin-top: 12px;
  margin-right: 20px;
  white-space: nowrap; /*Maybe needed Later*/
  font-family: "Source Code Pro", sans-serif;
  font-size: large;
  resize: none;
  border: 1px solid black;
  border-radius: 5px;
}
.my-input:active {
  width: 835px;
  height: 350px;
  max-height: 350px;
  overflow: scroll;
  margin-top: 12px;
  margin-right: 20px;
  white-space: nowrap; /*Maybe needed Later*/
  font-family: "Source Code Pro", sans-serif;
  font-size: large;
  resize: none;
  border: 2px solid black;
  border-radius: 5px;
}
.my-select {
  /* margin-top: 320px;
    margin-bottom: -300px;
    position: absolute; */
  background-color: #eeeeee;
  color: rgb(116, 22, 22);
  padding: 5px;
  border-radius: 4px;
}
.my-select:hover {
  background-color: rgb(116, 22, 22);
  color: #eeeeee;
}
.opt {
  background-color: white;
  color: rgb(116, 22, 22);
}
.opt:hover {
  background-color: rgb(116, 22, 22);
  color: white;
}
.bt {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 15px;
  height: 25px;
  background-color: bisque;
  color: rgb(116, 22, 22);
  border-radius: 20px;
  width: 100px;
}
.bt:hover {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 15px;
  height: 25px;
  background-color: rgb(116, 22, 22);
  color: bisque;
  border-radius: 20px;
  width: 100px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(134, 128, 128);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: brown;
}
@media screen and (max-width: 480px) {
  header {
    position: fixed;
  }
  #my-text {
    /*position: absolute;
        margin-left: 70px;*/
    padding: 60px 7px;
  }
  .content {
    font-family: "Mukta", sans-serif;
    font-size: 25px;
    width: max-content;
  }
  .my-input {
    width: 835px;
    height: 350px;
    max-width: 835px;
    max-height: 350px;
    overflow: scroll;
    margin-right: 70px;
  }
  .my-input:active {
    width: 835px;
    height: 350px;
    max-height: 350px;
    overflow: scroll;
    margin-right: 20px;
    white-space: nowrap; /*Maybe needed Later*/
    font-family: "Source Code Pro", sans-serif;
    font-size: large;
    resize: none;
    border: 2px solid black;
    border-radius: 5px;
  }
  .bt {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 15px;
    height: 25px;
    background-color: bisque;
    color: rgb(116, 22, 22);
    border-radius: 20px;
    width: 100px;
  }
  .bt:hover {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 15px;
    height: 25px;
    background-color: rgb(116, 22, 22);
    color: bisque;
    border-radius: 20px;
    width: 100px;
  }
}
