@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');



header {
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    z-index: 10;
    background: #ee2d57;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0);
    box-shadow: 0px 0px 8px rgba(22, 22, 22);
    position:fixed;
    border-bottom-right-radius: 12rem;
}

.my-head{
    color: rgb(248, 250, 220);
    margin: 10px 10px 10px 15px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 200;
    font-size: 75;
    border-left: 12px solid rgb(22, 22, 22);
    text-shadow: 0px -6px 0 #1f1d1d,  
    0px -6px 0 #212121,
    0px  6px 0 #212121,
    0px  6px 0 #212121,
   -6px  0px 0 #212121,  
    6px  0px 0 #212121,
   -6px  0px 0 #212121,
    6px  0px 0 #212121,
   -6px -6px 0 #212121,  
    6px -6px 0 #212121,
   -6px  6px 0 #212121,
    6px  6px 0 #212121,
   -6px  18px 0 #212121,
    0px  18px 0 #212121,
    6px  18px 0 #212121,
    0 19px 1px rgba(0,0,0,.1),
    0 0 6px rgba(0,0,0,.1),
    0 6px 3px rgba(0,0,0,.3),
    0 12px 6px rgba(0,0,0,.2),
    0 18px 18px rgba(0,0,0,.25),
    0 24px 24px rgba(0,0,0,.2),
    0 36px 36px rgba(14, 13, 13, 0.15);
    padding: 15px;
}
.my-bg{
    background-color: rgba(243, 240, 53, 0.555);
    background-attachment: fixed;
}
#my-section {
    background-color: rgba(218, 42, 66, 0.3);
    width: 50%;
    margin: auto;
    margin-top: 200px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 6px rgb(155, 55, 55);
    /* position: absolute; */
}
.content {
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    width:max-content;
}
#my-text {
    margin-top: 100px;
    /* position: absolute; */
}
span{
    display: block;
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}
div{
    text-align: center;
}
.my-input {
    display: block;
    width: 835px;
    margin: auto;
    height: 350px;
    max-height: 350px;
    overflow: scroll;
    margin-top: 12px; 
    white-space: nowrap; /*Maybe needed Later*/
    font-family: 'Source Code Pro', sans-serif;
    font-size: large;
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 2rem;
}
.my-input:active {
    width: 835px;
    height: 350px;
    max-height: 350px;
    overflow: scroll;
    margin-top: 12px; 
    margin-right:20px;
    white-space: nowrap; /*Maybe needed Later*/
    font-family: 'Source Code Pro', sans-serif;
    font-size: large;
    resize: none; 
    border: 2px solid black;
    border-radius: 5px;
}
.my-select {
    /* margin-top: 320px;
    margin-bottom: -300px;
    position: absolute; */
    background-color: #1de6f5;
    color: rgb(43, 43, 46);
    padding : 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 0px 5px rgb(5, 31, 65);
    display: block;
    margin: auto;
}
.my-select:hover{
    background-color: rgb(30, 44, 73);
    color: #eeeeee;
}
.opt {
    background-color: white;
    color: rgb(173, 20, 66);
}
.opt:hover {
    background-color: rgb(158, 22, 56);
    color: white;
}
.bt {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 15px;
    background-color: rgb(30, 227, 253);
    color: rgb(65, 68, 68);
    border-radius: 10px;
    width: 100px;
    font-size: 1rem;
    padding: 1rem;
}
.bt:hover {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 15px;
    background-color: rgb(19, 37, 71);
    color: bisque;
    border-radius: 20px;
    width: 100px;
    font-size: 1rem;
    padding: 1rem;
}
::-webkit-scrollbar {
    width: 12px;
    height:12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(134, 128, 128); 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: brown; 
}
@media screen and (max-width: 480px) {
    header{
        position:fixed;
    }
    #my-text {
        /*position: absolute;
        margin-left: 70px;*/ 
        padding: 60px 7px;
    }
    .content {
        font-family: 'Mukta', sans-serif;
        font-size: 25px;
        width:max-content;
    }
    .my-input {
        width: 835px;
        height: 350px;
        max-width: 835px;
        max-height: 350px;
        overflow: scroll;
        margin-right: 70px;
    }
    .my-input:active {
        width: 835px;
        height: 350px;
        max-height: 350px;
        overflow: scroll;
        margin-right:20px;
        white-space: nowrap; /*Maybe needed Later*/
        font-family: 'Source Code Pro', sans-serif;
        font-size: large;
        resize: none;
        border: 2px solid black;
        border-radius: 5px;
    }
    .bt {
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 15px;
        height:25px;
        background-color: bisque;
        color: rgb(116, 22, 22);
        border-radius: 20px;
        width: 100px;
    }
    .bt:hover {
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 15px;
        height:25px;
        background-color: rgb(116, 22, 22);
        color: bisque;
        border-radius: 20px;
        width: 100px;
    }
}